.vnc-canvas {
    border: 1rem solid var(--clr-background);
    box-sizing: border-box;
    background-color: var(--clr-accent);
    width: 100%;
    max-width: 100%;
    min-height: 400px;
    position: relative;
    flex: 1 1 200px;
}

.vnc-canvas .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.vnc-canvas .overlay * {
    pointer-events: auto;
}

.vnc-canvas button {
    padding: 0.5rem;
    font-size: 1rem;
    border: 5px solid var(--clr-accent);
    background-color: var(--clr-accent);
    color: var(--clr-text);
    cursor: pointer;
    font-family: inherit;
    transition: background-color 0.3s;
}

.vnc-canvas button:hover {
    background-color: var(--clr-background);
}

.vnc-canvas.bell {
    animation: shake 0.3s infinite;
}

.vnc-canvas .status,
.vnc-canvas .expand,
.vnc-canvas .title {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--clr-background);
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vnc-canvas .expand {
    bottom: unset;
    top: 0;
}

.vnc-canvas .title {
    bottom: unset;
    right: unset;
    width: unset;
    top: 0;
    left: 0;
    padding: 0 0.5rem;
    font-weight: 500;
}

.vnc-canvas .login {
    background-color: var(--clr-background);
    padding: 1rem;
}

.vnc-canvas a {
    margin: 0 !important;
}

.vnc-canvas i.green {
    color: var(--clr-green);
}

.vnc-canvas i.red {
    color: var(--clr-red);
}

.vnc-canvas i.yellow {
    color: var(--clr-yellow);
}

.vnc-canvas i.gray {
    color: var(--clr-gray);
}

.vnc-canvas>*:not(div) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes pulse {
    0% {
        background-color: var(--clr-background);
    }

    50% {
        background-color: var(--clr-accent);
    }

    100% {
        background-color: var(--clr-background);
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}