.vnc-canvas {
    border: 1rem solid var(--clr-background);
    box-sizing: border-box;
    background-color: var(--clr-accent);
    width: 100%;
    max-width: 100%;
    min-height: 400px;
    position: relative;
    flex: 1 1 200px;
}

.vnc-canvas .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}

.vnc-canvas .overlay .header,
.vnc-canvas .overlay .controls {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.vnc-canvas .overlay .group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.vnc-canvas .overlay .group>* {
    background-color: var(--clr-background);
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vnc-canvas .overlay .group>*[interactive] {
    cursor: pointer;
    pointer-events: auto;
}

.vnc-canvas .overlay .group>*[interactive]:hover {
    background-color: var(--clr-accent);
}

.vnc-canvas .login {
    background-color: var(--clr-background);
    padding: 1rem;
}

@keyframes pulse {
    0% {
        background-color: var(--clr-background);
    }

    50% {
        background-color: var(--clr-accent);
    }

    100% {
        background-color: var(--clr-background);
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}